In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/captions.tsv', sep='\t')

In [4]:
df.describe()

,caption,url,labels,MIDs,confidence_score
count,10038,10038,10037,10037,10037
unique,9664,10038,10012,10012,10037
top,"image may contain : person , on stage and play...",http://slideplayer.com/6856679/23/images/2/The...,"text,font,line","/m/07s6nbt,/m/03gq5hm,/m/03scnj","0.897243082523346,0.8220894932746887,0.8193526..."
freq,34,1,8,8,1

In [5]:
captions = df['caption'].tolist()

In [9]:
sentences = [caption.split() for caption in captions]
words = [word for sentence in sentences for word in sentence]
unique_words = sorted(list(set(words)))
len(unique_words)

8531

In [13]:
unique_words[: 10]

['!',
 '#',
 '$',
 '$1',
 '$1,360,000',
 '$10',
 '$100.00',
 '$1000',
 '$15,000',
 '$17']