In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../../../Downloads/Image_Labels_Subset_Train_GCC-Labels-training.tsv', sep='\t', names=['caption', 'url', 'labels', 'MIDs', 'confidence_score'])

In [10]:
df.describe()

,caption,url,labels,MIDs,confidence_score
count,2007528,2007528,2007090,2007090,2007090
unique,1428791,2007528,1947984,1948050,2003297
top,"image may contain : person , on stage and play...",https://thumb1.shutterstock.com/display_pic_wi...,"text,font,line","/m/07s6nbt,/m/03gq5hm,/m/03scnj","0.9736676812171936,0.9484156370162964,0.787131..."
freq,4741,1,994,994,271

In [16]:
sampled_df = df.sample(frac=0.005, random_state=42)

In [17]:
sampled_df.describe()

,caption,url,labels,MIDs,confidence_score
count,10038,10038,10037,10037,10037
unique,9664,10038,10012,10012,10037
top,"image may contain : person , on stage and play...",http://slideplayer.com/6856679/23/images/2/The...,"text,font,line","/m/07s6nbt,/m/03gq5hm,/m/03scnj","0.897243082523346,0.8220894932746887,0.8193526..."
freq,34,1,8,8,1

In [19]:
sampled_df.to_csv('../data/captions.tsv', sep='\t', index=False)